################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Parking/.vs
/Parking/parking.client/obj
/Parking/Parking.Server/bin
/Media/Copywriting
/Versions